:root {
    --text-color: #F2F2F7;
    --text-color-light: #777777;
    --color-violet: #AF52DE;
    --color-pink: #FF2D55;
    --color-background: #2C2C2C;
    --color-background-shadow: #202020;

    --font-weight: 500;
    --font-weight-light: 300;

    --font-size-default: 24px;
    --font-size-header-1: 40px;
    --font-size-header-2: 40px;

    --content-width: 1440px;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Inter';
    background-color: var(--color-background);
}

html {
    scroll-behavior: smooth;
}

body::-webkit-scrollbar {
    display: none;
}

body {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#navbar {
    display: flex;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
    color: var(--color-background-shadow);
    transition: top 0.3s, box-shadow 0.1s linear;
}

#navbar-content {
    display: flex;
    width: var(--content-width);
    padding: 32px 0 8px;
    margin-left: auto;
    margin-right: auto;
    flex-direction: row;
    justify-content: space-between;
}

#header-title {
    display: flex;
    align-items: center;
    gap: 5px;
}

nav a {
    font-weight: var(--font-weight);
    font-size: var(--font-size-default);
    line-height: 19px;
    text-align: center;
    text-decoration: none;
    color: var(--text-color);
}

#header-links {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 32px;
}

.header-link {
    color: var(--text-color-light);
    font-weight: var(--font-weight-light);
}

.header-link:hover {
    color: var(--text-color);
}

.header-link span {
    color: var(--color-violet);
}

.active-header-link {
    font-weight: var(--font-weight);
    color: var(--text-color);
}

#socials {
    position: fixed;
    left: 20px;
    bottom: 0px;
}

#socials::after {
    content: "";
    display: block;
    width: 1px;
    height: 90px;
    margin: 0px auto;
    background-color: var(--text-color);
}

#socials ul {
    display: flex;
    align-items: center;
    flex-direction: column;
    list-style: none;
}

#socials li {
    background-color: #FF2D55;
}

#socials li:last-of-type {
    margin-bottom: 10px;
}

#socials li a {
    display: inline-block;
    padding: 5px;
}

#main-window {
    width: var(--content-width);
    padding-left: 128px;
    padding-right: 128px;
    margin-left: auto;
    margin-right: auto;
    height: 5000px;
    background-color: var(--color-background);
}

#description {
    display: flex;
    gap: 20px;
    position: relative;
    align-items: center;
    top: 240px;
    color: var(--text-color);
}

#description-text h1 {
    font-size: var(--font-size-header-1);
}

#description-text h2 {
    font-size: var(--font-size-header-2);
    color: var(--text-color-light);
}

#description-text h3,
p {
    color: var(--color-violet);
    font-size: var(--font-size-default);
    font-weight: var(--font-weight-light);

    margin-bottom: 30px;
}

#description-text p {
    color: var(--text-color-light);

    margin-top: 30px;
}